# OpenAI Configuration
OPENAI_API_KEY=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
ASSISTANT_ID=asst_DsXFMCvIwpNKVvdsfHhXPdkP
VECTOR_STORE=vs_67c3ab5988608191b73fd85b3e2e5239
# Database Configuration
DATABASE_PATH=data/local.db

# Supabase Configuration (if using Supabase)
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here
SUPABASE_ANON_KEY=your_supabase_anon_key_here

# PostgreSQL Configuration (if using PostgreSQL)
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_HOST=localhost
DB_PORT=6543
DB_NAME=postgres

# Authentication
APP_USERNAME=demo
APP_PASSWORD_HASH=anthony123

# Application Environment
APP_ENV=production  # Can be "development", "testing", or "production"
